version: "3"

services:
  nginx:
    container_name: hobbybrau
    image: nginx
    ports:
      - 8080:80
    volumes:
      - ./docs:/usr/share/nginx/html
    networks:
      - hobbybrau

networks:
  hobbybrau:
    driver: bridge            
