body {
    display: block;
    overflow-x: hidden;
}

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
}

nav ul li a {
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
}

section {
    /* padding-top: 100px; */
    padding-bottom: 60px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
}
